<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPU HIMA TEKKOM</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16" />
    <!-- css -->
    <link rel="stylesheet" href="assets/bootstrap-5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

</head>
<body>
    <div class="header card text-xl-center text-center fw-bold fw-light" style="text-align: center; background-color: #386BC0;">
        <div class="identitas">
            <h1>IDENTITAS PENGGUNA <br> Davi Hanan Luthfi Abiyyu - 2205152 <br> 1B - Teknik Komputer</h1> 
        </div>
        <a href="#"><button class=" btn btn-danger"><i class="fa fa-sign-out"></i>Keluar</button></a>
    </div>
    <div class="ty text-center">    
        <h1 class="text-uppercase">Terima kasih telah berpartisipasi dalam pemilihan ketua dan wakil ketua de hima tekkom 2023 pilihan anda telah tersimpan !</h1>
    </div>
    <div class="footer d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" style="text-align: center; background-color: #386BC0;">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0" >
            Copyright © KPU HIMA Teknik Komputer 2023. All rights reserved.
        </div>
        <!-- Copyright -->
    </div>
    </body>
</html>